services:
  bot:
    build: .
    container_name: bot
    env_file: [.env]
    restart: unless-stopped
    depends_on:
      redis:
        condition: service_started
    volumes:
      - ./data:/app/data
      - ./logs:/app/logs
      - ./secrets:/secrets:ro
    networks: [appnet]

  worker:
    build: .
    container_name: bot-worker
    env_file: [.env]
    command: python -m app.workers.mirror_worker
    restart: unless-stopped
    depends_on:
      redis:
        condition: service_started
    networks: [appnet]
    volumes:
      - ./logs:/app/logs

  redis:
    image: redis:7-alpine
    container_name: bot-redis
    command: ["redis-server", "--appendonly", "yes", "--save", "60", "1000"]
    restart: unless-stopped
    networks: [appnet]
    volumes:
      - redis_data:/data

  caddy:
    image: caddy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks: [appnet]

volumes:
  caddy_data:
  caddy_config:
  redis_data:

networks:
  appnet:
    driver: bridge